# Copy to .env for local (non-docker) development.
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=scientec
PGDATABASE_TEST=scientec_test
PORT=3000
# UPLOAD_ROW_DELAY_MS=100